.game_panel{
	width: 77%;
}
.task_panel{
	width: 23%;
}
.game_card_header{

	background-color: #09192C; color: #fff; height: 13rem;
}

.card_show{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 60%;
  }
.background_image{
	width: 100%; height: 43rem;
}

.steps{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
  margin-bottom: 1%;
}
.steps .step1,.step2,.step3 ,.step4,.step5{
  width: 100%;
  height: 2rem;
  border-right: 1px solid white;
  background-color: #09192C;
  color: #fff;
  text-align: center;
}


@media (max-width: 600px)
{
	.background_image
	{
	  width: 100%; height: 40rem;
    }

	.game_panel{
	width: 100%;
    }
   .task_panel{
	width: 100%;
    }
   .game_card_header{

	height: 10rem;
    }
   .card_show{
    position: absolute;
    top: 20%;
    left: 3%;
    width: 94%;
  }

}





@media (min-width: 601px) and (max-width: 900px)
{
	.background_image
	{
	  width: 100%; height: 25rem;
    }

	.game_panel{
	width: 100%;
}
.task_panel{
	width: 100%;
}
.game_card_header{

	background-color: #09192C; color: #fff; height: 13rem;
}
.card_show{
    position: absolute;
    top: 10%;
    left: 3%;
    width: 94%;
  }

}